* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    color: #333;
    font-size: 2em;
}

header p {
    color: #666;
}

h2 {
    margin-bottom: 10px;
    background-color: #0073e6;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

h2:hover {
    background-color: #005bb5;
}

ul {
    list-style-type: square;
    padding-left: 20px;
    margin-bottom: 20px;
}

.job, .certifications, .education, .skills, .soft-skills, .hobbies {
    margin-bottom: 20px;
}

h3 {
    color: #333;
    font-size: 1.2em;
    margin-bottom: 5px;
}

p, ul li {
    color: #555;
    font-size: 1em;
}

strong {
    color: #333;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        padding: 15px;
    }

    header h1 {
        font-size: 1.5em;
    }

    p, ul li {
        font-size: 0.9em;
    }
}

/* Content toggle */
.content {
    display: none;
    margin-top: 10px;
}

.content.active {
    display: block;
}
